{% extends 'index.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
        <h1>Register by entering the details below!</h1>
        <form action="{{ url_for('register') }}" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label(class="form-label") }}<br>
                {{ form.username(class="form-control") }}
            </p>
            <p>
                {{ form.email.label(class="form-label") }}<br>
                {{ form.email(class="form-control") }}
            </p>
            <p>
                {{ form.password.label(class="form-label") }}<br>
                {{ form.password(class="form-control") }}
            </p>
            <p>
                {{ form.confirm_password.label(class="form-label") }}<br>
                {{ form.confirm_password(class="form-control") }}
                
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <br><span style="color: red; font-size: 0.8em;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </p>
            <p>{{ form.submit(class="btn btn-primary w-100") }}</p>
        </form>
    </div>
</div>
{% endblock %}